@font-face {
    font-family: 'Minecraft';
    src: url('fonts/MinecraftRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Minecraft', sans-serif;
    color: white;
    background-color: black;
}

body {
    background: linear-gradient(-45deg, #222, #1f1f1f, #2a2929, #2c2929);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }